<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <h2> All Orders</h2>
    </div>
    <div class="card-body">
      <div *ngFor="let item of orders" class="row m-1">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <div class="row" style="justify-content: space-between;display: flex;">
              <div>
                <h4>{{item.order_id}}</h4><br> Pick up date : Jan 22 2020 <br> Pick up time : 4:30 pm
              </div>
              <div>
                <div class="price-displayer" style="background-color: #4AD991;"><span
                    class="price">{{item.total_amount}}</span> <br />
                  <span>ORDER VALUE</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>