@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.price-displayer {
    text-align: center;
    align-items: center;
    background-color: #665eff;
    color: white;
    border-radius: 8px;
    height: 100px;
    justify-content: center;
    width: 160px;
}
.price {
    font-size: 40px;
    font-weight: 600;
}
.bg-black {
    background-color: black;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: opacity(25%);
}
.login-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fallback-image {
    @media screen and (max-width: 768px) {
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
.login-screen {
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
