<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <h2>Profile</h2>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="shopName"><strong>Name of the Shop</strong></label>
            <input type="text" class="form-control" id="shopName">
          </div>
          <div class="form-group col-md-6">
            <label for="contactNumber"><strong>Customer contact number</strong></label>
            <input type="number" class="form-control" id="contactNumber">
          </div>
        </div>
        <div class="form-group">
          <label for="address"><strong>Address</strong></label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city"><strong>City</strong></label>
            <input type="text" class="form-control" id="city">
          </div>
          <div class="form-group col-md-4">
            <label for="state"><strong>State</strong></label>
            <select id="state" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="pincode"><strong>Pin code</strong></label>
            <input type="text" class="form-control" id="pincode">
          </div>
        </div>
        <div class="form-group">
          <label for="gmapLink"><strong>Google map link</strong></label>
          <input type="text" class="form-control" id="gmapLink" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="latitude"><strong>Latitude</strong></label>
            <input type="text" class="form-control" id="latitude">
          </div>
          <div class="form-group col-md-4">
            <label for="longitude"><strong>Longitude</strong></label>
            <input type="text" class="form-control" id="longitude">
          </div>
        </div>
        <div class="form-group">
          <label for="logo"><strong>Logo</strong></label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
